
body {
  background: url("../img/background.png");
}

h1 {
  font-size: 3.3em;
  margin: 40px;
}

.mainBlock {
  width: 45%;
  height: 25vh;
}


#bckColour {
  padding: 5px;
}

.btn {
  width: 100px;
  background-color: black;
  color: white !important;
  text-transform: lowercase;

  &:hover {
    background-color: lighten(black, 15%);
  }
}

.mainContainer {
  margin: 10%;
}

.pointer{
  cursor: pointer;
}

#sndOn{
  color: red;
}